@import "./guideline";
@import "./mixin";

// 通用
* {
    @include all();
}
body.modal-open {
    padding-right: 0px !important;
    overflow-y: auto;
}
html {
    scroll-behavior: smooth;
    width: 100%;
}
body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: $light-sky;
    @include mobile-XS() {
        font-size: 0.875rem;
    }
    // 導覽列
    .minibar {
        @include minibar();
    }
    .navbar {
        @include navbar();
    }
    .back-top {
        @include back-top();
    }
    .container {
        max-width: 1920px;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: $margin-XS/1.5;
        @include mobile-L {
            border: none;
            padding: $margin-XS;
        }
        .card {
            // margin: $margin-XS/3;
            border: solid 6px $light-sky;
            border-radius: 0;
            padding: $padding-XS;
            @include mobile-L {
                border: none;
                margin-bottom: $margin-XS;
            }
            .chart-gp {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .doughnut {
                    width: calc(50% - 10px);
                    margin-bottom: $margin-S*1.25;
                    @include mobile-L {
                        width: 100%;
                        // height: auto;
                        // min-height: 300px;
                    }
                    // .doughunt-chart{
                    //     @include mobile-L{
                    //         width: 100% !important;
                    //     }
                    // }
                }
            }
        }

    }
}
